.header {
  background-image: url("../images/background_header.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__title {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 709px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  letter-spacing: -1px;
  left: 80px;
  bottom: 28px;
}

.header__span-accent {
  display: flex;
  color: #2f80ed;
  font-family: "Noto Serif", Times, sans-serif;
  font-style: italic;
  font-weight: normal;
  line-height: 72px;
  font-size: 58px;
}

.header__description {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "Noto Serif", Times New Roman, Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  left: 80px;
}

.header__image {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  margin-top: auto;
  position: relative;
  left: 80px;
  bottom: 40px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  justify-content: space-between;
}

.header__address {
  display: flex;
  position: absolute;
  right: 80px;
  bottom: 20px;
  margin-top: auto;
  margin-right: 80px;
}

.header__paragraph {
  margin: 0;
}
